@charset "UTF-8";
button.btn-delete, .btn-update {
	display: none;
}

tr:hover button.btn-delete, tr:hover .btn-update {
	display: inline;
}

#update {
	border: 1px solid green;
}

#banner_insert, #banner_list {
	margin: auto;
}

#banner_list {
	text-align: center;
}

#submit {
	width: 100px;
	height: 20px;
	background: #608FFB;
	color: white;
}

.btn-update, .btn-delete {
	width: 50px;
	height: 20px;
	background: #608FFB;
	color: white;
	border: 1px solid #608FFB;
}